<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="statements" th:fragment="statements">
    <div id="statementForm">
        <form action="#" class="row row-cols-lg-auto g-3 align-items-center mb-3" method="post"
              th:action="@{/heating}" th:object="${statement}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <input th:field="*{userId}" type="hidden">
            <div class="col-12">
                <label class="visually-hidden" for="statementDate">Statement date</label>
                <div class="input-group">
                    <input class="form-control" id="statementDate" th:field="*{statementDate}" type="date">
                </div>
            </div>
            <div class="col-12">
                <label class="visually-hidden" for="heightOfTank">Height Of Tank</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="bi bi-fire"></i></div>
                    <input class="form-control" id="heightOfTank" placeholder="Height Of Tank"
                           th:field="*{heightOfTank}"
                           step="0.01" type="number">
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary"
                        hx-swap="outerHTML" hx-target="#page" hx-trigger="click"
                        th:attr="hx-post=@{/heating}">Insert
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>Statement date</th>
                <th>Height Of Tank (cm)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${datas}">
                <td th:text="${#temporals.format(data.statementDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${data.heightOfTank}"></td>
                <th class="text-end">
                    <form>
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                        <button class="btn btn-outline-secondary btn-sm"
                                hx-swap="outerHTML"
                                hx-target="#statementForm"
                                hx-trigger="click"
                                hx:get="|/heating/${data.id}?size=${currentSize}&page=${currentPage}|">
                            <i class="bi bi-pencil-square"></i></button>
                        <a
                                class="btn btn-outline-danger btn-sm"
                                hx-confirm="Are you sure?"
                                hx-swap="outerHTML"
                                hx-target="#page"
                                hx:delete="|/heating/${data.id}?size=${currentSize}&page=${currentPage}|">
                            <i class="bi bi-trash3"></i></a>
                    </form>
                </th>
            </tr>
            </tbody>
        </table>

    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" th:if="${datas.totalPages > 0}">
            <li th:class="${pageNumber==datas.number + 1} ? 'page-item active': 'page-item'"
                th:each="pageNumber : ${pageNumbers}">
                <a class="page-link"
                   th:href="@{/heating(size=${datas.size}, page=${pageNumber -1})}"
                   th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>