<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="sidebarMenu"
     th:fragment="sidebar">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#" th:classappend="${requestURI == '/dashboard' ? 'active':''}"
                   th:href="@{/dashboard}">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:classappend="${requestURI == '/electricity' ? 'active':''}"
                   th:href="@{/electricity}">
                    <i class="bi bi-lightning-fill"></i> Electricity
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:classappend="${requestURI == '/heating' ? 'active':''}"
                   th:href="@{/heating}">
                    <i class="bi bi-fire"></i> Heating
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:classappend="${requestURI =='/water' ? 'active':''}"
                   th:href="@{/water}">
                    <i class="bi bi-droplet-fill"></i> Water
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:classappend="${requestURI ==  '/settings' ? 'active':''}"
                   th:href="@{/settings}">
                    <i class="bi bi-gear-fill"></i> Settings
                </a>
            </li>

        </ul>
    </div>
</nav>

</html>
