<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">


<div id="page" layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <!--<div class="btn-group me-2">

            <a class="btn btn-sm btn-outline-secondary"
               href="#" th:href="@{/dashboard(type='ANNUAL')}">Annual consumption
            </a>
            <a class="btn btn-sm btn-outline-secondary"
               href="#" th:href="@{/dashboard(type='MONTHLY')}">Monthly consumption
            </a>
        </div>-->

        <form action="#" class="row row-cols-lg-auto" id="dashboardFilterForm" method="post" name="dashboardFilterForm"
              th:action="@{/dashboard}" th:object="${filter}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <div class="col-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineRadio1" onclick="document.forms['dashboardFilterForm'].submit()" th:field="*{type}" type="radio"
                           value="ANNUAL">
                    <label class="form-check-label" for="inlineRadio1">Annual</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineRadio2" onclick="document.forms['dashboardFilterForm'].submit()" th:field="*{type}" type="radio"
                           value="MONTHLY">
                    <label class="form-check-label" for="inlineRadio2">Monthly</label>
                </div>
            </div>
            <div class="col-12">
                <select aria-label="Year Filter" class="form-select form-select-sm"
                        onchange="document.forms['dashboardFilterForm'].submit()"
                        th:field="*{year}">
                    <option th:each="yearFilter : ${yearsFilter}" th:text="${yearFilter}" th:value="${yearFilter}">year
                    </option>
                </select>
            </div>
            <div class="col-12">
                <select aria-label="View Filter" class="form-select form-select-sm"
                        onchange="document.forms['dashboardFilterForm'].submit()"
                        th:field="*{view}">
                    <option th:each="view : ${viewFilter}" th:text="${view}" th:value="${view}">view
                    </option>
                </select>
            </div>
        </form>
    </div>
    <canvas class="my-4 w-100" height="380" id="myChart" width="900"></canvas>
    <script th:inline="javascript" type="text/javascript">
        function ready(fn) {
            if (document.readyState !== 'loading') {
                fn();
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }

        ready(function () {
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [
                        /*[# th:each="row : ${dataset}"]*/
                        {
                            label: [[${row.name}]],
                            data: [
                                /*[# th:each="data : ${row.series}"]*/
                                {x: [[${data.name}]], y: [[${data.value}]]},
                                /*[/]*/
                            ],

                        },
                        /*[/]*/
                    ]
                }
            });
        });

    </script>

</div>


</html>
