<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/dashboard}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<div id="page" layout:fragment="content">
    <h2>Error</h2>
    <div class="alert alert-danger" role="alert">
        <span th:text="errorMessage">Error Message</span>
    </div>
</div>
</html>
