<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">

<div id="page" layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Settings</h1>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            Google account
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2"><img class="rounded-circle img-fluid profile-picture"
                                        th:src="${profile.get('picture')}"/></div>
                <div class="col">
                    <p class="card-text">Name : <span th:text="${profile.get('name')}"/>, Nickname :<span
                            th:text="${profile.get('nickname')}"/></p>
                    <p class="card-text">Given name : <span th:text="${profile.get('given_name')}"/>, Family name :
                        <span th:text="${profile.get('family_name')}"/></p>
                    <p class="card-text">Email : <span th:text="${profile.get('email')}"/></p>
                    <a class="btn btn-primary" href="https://myaccount.google.com/personal-info"><i
                            class="bi bi-google"></i> Edit your account</a>
                </div>
            </div>

        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            Heating preference
        </div>
        <div class="card-body">
            <form action="#" method="post" th:action="@{/settings}" th:object="${userPreference}">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <input th:field="*{id}" type="hidden">
                <div class="mb-3">
                    <label for="inlineRadio1">Type of tank</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineRadio1" th:field="*{tankType}" type="radio"
                           value="CUBOID">
                    <label class="form-check-label" for="inlineRadio1">Cuboid</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" disabled id="inlineRadio2" th:field="*{tankType}"
                           type="radio" value="VERTICAL_CYLINDER">
                    <label class="form-check-label" for="inlineRadio2">Vertical cylinder</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" disabled id="inlineRadio3" th:field="*{tankType}"
                           type="radio" value="HORIZONTAL_CYLINDER">
                    <label class="form-check-label" for="inlineRadio3">Horizontal cylinder</label>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="formGroupLengthOfTank">Length of tank (in cm)</label>
                    <input class="form-control" id="formGroupLengthOfTank" th:field="*{lengthOfTank}" type="number">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="formGroupWidthOfTank">Width of tank (in cm)</label>
                    <input class="form-control" id="formGroupWidthOfTank" th:field="*{widthOfTank}" type="number">
                </div>
                <button class="btn btn-primary" type="submit">Save</button>

            </form>
        </div>
    </div>
    <div class="card border-danger mb-3">
        <div class="card-header text-bg-danger">Delete account</div>
        <div class="card-body text-danger">
            <p class="card-text">Once you delete your account, there is no going back. Please be certain.</p>
            <a class="btn btn-danger" href="/logout"
               onclick="confirm('It\'s your last change! Are you sure to delete your account and all your data ?')">Delete
                my account</a>
        </div>
    </div>

</div>

</html>
