<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="page" th:fragment="page">
    <div th:replace="~{fragments/water/modal :: importModal}"></div>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Water</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">

                <a class="btn btn-sm btn-outline-secondary" data-bs-target="#importModal" data-bs-toggle="modal"
                   href="#"><i class="bi bi-download"></i> Import
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#" th:href="@{/water/export}"><i
                        class="bi bi-upload"></i> Export
                </a>
                <a class="btn btn-sm btn-outline-danger" href="#"
                   onclick="return confirm('Are you sure to wipe all your data ?')"
                   th:href="@{/water/wipe}"><i
                        class="bi bi-trash3"></i> Wipe</a>
            </div>
            <!--<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button">
                <i class="bi bi-calendar"></i>
                This week
            </button>-->
        </div>
    </div>
    <canvas class="my-4 w-100" height="380" id="myChart" width="900"></canvas>
    <script th:inline="javascript" type="text/javascript">
        function ready(fn) {
            if (document.readyState !== 'loading') {
                fn();
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }

        ready(function () {
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [
                        /*[# th:each="row : ${dataset}"]*/
                        {
                            label: [[${row.name}]],
                            data: [
                                /*[# th:each="data : ${row.series}"]*/
                                {x: [[${data.name}]], y: [[${data.value}]]},
                                /*[/]*/
                            ],

                        },
                        /*[/]*/
                    ]
                }
            });
        });

    </script>
    <h2>Statements</h2>
    <div th:replace="~{fragments/water/list :: statements}"></div>
</div>

</body>
</html>